.paper {
  padding: 2;
  display: flex;
  overflow: auto;
  flex-direction: column;
  width: 100%
}

.mainContainer {
  height: 100vh;
  padding: 0px;
  flex: 1;
}

.marginTitle {
  margin-right: 0%;
  margin-left: 25%!important;
  display: flex!important;
  flex-direction: row;
  flex: .25;
  margin-top: 5%;
  font-size: 30pt;
  text-align: left;
}

.wrapper {
  margin-top: 50;
  position: relative;
}