.detailContainer {
  height: 100%;
  margin-bottom: 0.1%;
  flex: 1;
  flex-direction: column;
  display: flex;
  padding: 1%;
}

.imageContainer {
  height: auto;
  flex-direction: row;
  display: flex;
  flex: 1;
  overflow: auto;
  padding: 0.4% 1%;
  box-sizing: content-box;
}

.detailMainContainer {
  min-height: 100vh;
  height: auto!important;
}

.cardText {
  font-weight: 600;
  font-size: large;
}

.cardDescription {
  font-weight: normal;
  font-size: 0.9vw;
}

.middleContainer {
  padding-top: 2%;
  flex-direction: column;
  display: flex;
  flex: 0.6;
  justify-content: flex-start;
  text-align: initial;
}

.bottomContainer {
  text-align: left;
  padding: 1%;
  width: 90%;
  height: auto;
}

.bottomContainer .cardText {
  font-weight: normal;
}

.priceContainer {
  flex-direction: row;
  display: flex;
}

.cardTextCondition {
  font-size: medium;
  opacity: 0.6;
}

.cardTextXXLarge {
  font-size: xx-large;
}

.detailTop {
  flex-direction: row;
  display: flex;
  height: 50vh;
}

.detailBottom {
  flex-direction: row;
  display: flex;
  height: auto;
  padding-bottom: 1%;
  box-sizing: unset !important;
}

.detailBottom::after .detailBottom::before {
  box-sizing: unset !important;
}

.cardTextPriceDecimals {
  font-size: large;
  margin-top: 2%;
  margin-left: 1%;
}

@supports (object-fit: cover) {
  .imageContainer img {
    height: 100%;
    object-fit: cover;
  }
}

.buyButton {
  height: 5vh;
  width: 50vh;
  text-transform: none !important;
  font-size: 100% !important;
  font-weight: bold !important;
}
