.App {
  text-align: center;
}

.root {
  display: 'flex';
  background-color: #ebebeb;
}

.header {
  background-color: #FFE600!important;
  max-height: 50px!important;
}

.toolbar {
  padding-right: 24;
  display: flex;
  flex: 1;
  justify-content: center;
}

.content {
  flex-grow: 1;
  height: 100vh;
  overflow: auto;
}

.container {
  margin-top: 5%;
  width: 80%!important;
}